.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.br-20{
    border-radius: 20px;
}

.txt-orange-color{
    color: #f8642c;
}

.txt-white-color{
    color: white;
}

.bg-orange-color{
    background-color:#f8642c;
}

.bg-white-color{
    background-color: white;
}